<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <%= result[0].titre_art%>
    </h1>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">
                        <%= result[0].titre_art %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px">
                <b>Date:</b>
            </div>
            <div class="col">
                <%= result[0].date_art %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Titre:</b></div>
            <div class="col">
                <%= result[0].titre_art %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Description:</b></div>
            <div class="col">
                <%= result[0].description_art %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Format:</b></div>
            <div class="col">
                <%= result[0].format_art %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Auteur:</b></div>
            <div class="col">
                <%= result[0].auteur_art %>
            </div>
        </div>
    </li>
</ul>