<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <%= result[0].nom%>
            <%= result[0].prenom %>
    </h1>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">
                        <%= result[0].nom + ' ' + result[0].prenom %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Nom:</b></div>
            <div class="col">
                <%= result[0].nom %>
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Prenom:</b></div>
            <div class="col">
                <%= result[0].prenom %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Date de Naissance:</b></div>
            <div class="col">
                <% if(result.length> 0) { var dateOfBirthString =
                    result[0].date_naiss_gestio; var dateOfBirth = new
                    Date(dateOfBirthString); var formattedDateOfBirth = ("0" +
                    dateOfBirth.getDate()).slice(-2) + "/" + ("0" + (dateOfBirth.getMonth()
                    + 1)).slice(-2) + "/" + dateOfBirth.getFullYear(); %> <%= formattedDateOfBirth %>
                        <% } else { // Output 'null' if no result is available %> null <% } %>
            </div>
        </div>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Image:</b></div>
            <div style="position: relative; margin-left: 50px;">
                <% if (result.length> 0 && result[0].photo_profil) { %>
                    <img src="/images/<%= result[0].photo_profil %>" class="img-fluid mb-3 mt-3 rounded"
                        alt="Description of the image"
                        style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
                    <% } else { %>
                        <img src="/images/default.jpg" class="img-fluid rounded-circle mb-3 mt-3" alt="image"
                            style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
                        <% } %>
            </div>
        </div>
    </li>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Email:</b></div>
            <div class="col">
                <%= result[0].email_co %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Equipe:</b></div>
            <div style="position: relative; margin-left: 50px;">

                <% if (result.length> 0 && result[0].logo_eq) { %>
                    <img src="/images/<%= result[0].logo_eq %>" class="img-fluid mb-3 mt-3 rounded"
                        alt="Description of the image"
                        style="width: 100   ; height: 100px; object-fit: cover; border-radius: 50%;">
                    <% } else { %>
                        <img src="/images/default.jpg" class="img-fluid rounded-circle mb-3 mt-3" alt="image"
                            style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
                        <% } %>
                            <%= result[0].nom_eq %>
            </div>
        </div>
    </li>
</ul>