<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky d-flex flex-column">
        <ul class="nav flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/compteGestionnaire/<%= gestId %>" aria-current="page">
                    <i class="bi bi-house-door-fill"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/monequipe/<%= gestId%>">
                    <i class="bi bi-people-fill"></i>
                    Mon équipe
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gererjoueurs/<%= gestId %>">
                    <i class="bi bi-person-lines-fill"></i>
                    Gestion des Joueurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/voir_affectation/<%= gestId %>">
                    <i class="bi bi-list-task"></i>
                    Affectation a suivre
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerer_match/<%= gestId %>">
                    <i class="bi bi-broadcast"></i>
                    Match en temps réel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ecrire_article/<%= gestId %>">
                    <i class="bi bi-newspaper"></i>
                    Article
                </a>
            </li>
            <li class="nav-item mt-5">
                <a class="nav-link move-down" href="/login"> <!-- Add custom class 'move-down' here -->
                    <i class="bi bi-box-arrow-left" style="color: red;"></i>
                    Se déconnecter
                </a>
            </li>



        </ul>



    </div>
</nav>