<div class="col py-1">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/compteGestionnaire/<%= userId %>">Acceuil</a>
          </li>
          <li class="breadcrumb-item active">Gestion des joueurs </li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mes Joueurs</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <a href="/ajouter_joueur/<%= userId %>" class="btn btn-outline-primary"><i class="bi bi-person-add"></i> Ajouter
        un Joueur </a>
    </div>
  </div>
</div>

<% messages.forEach(element=> { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= element %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% }) %>



    <div class="table-responsive">

      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>

            <th scope="col">E-mail</th>

          </tr>
        </thead>

        <tbody>
          <% result.forEach(element=> { %>
            <tr class="align-middle">
              <td>
                <%= element.nom_jo %>

              </td>
              <td>
                <%= element.prenom_jo %>
              </td>
              <td>
                <%= element.email_co %>
              </td>
              <td>
                <div style="position: relative; margin-left: 50px;">
                  <% if (element.photo_jo) { %>
                    <img src="/images/<%= element.photo_jo %>" class="img-fluid rounded-circle mb-3 mt-3"
                      alt="Description of the image" style="width: 50px; height: 50px; object-fit: cover;">
                    <% } else { %>
                      <img src="/images/default.jpg" class="img-fluid rounded-circle mb-3 mt-3" alt="image"
                        style="width: 50px; height: 50px; object-fit: cover;">
                      <% } %>
                </div>

              </td>
              <td class="text-end">

                <div class="d-flex flex-row justify-content-end gap-2">

                  <a href="/view/<%= element.id_jo %>/<%= userId %>" type="button" class="btn btn-primary btn-small">
                    <i class="bi bi-eye"></i>
                  </a>

                  <a href="/edit/<%= element.id_jo %>/<%= userId %>" type="button" class="btn btn-warning btn-small">
                    <i class="bi bi-pencil"></i>
                  </a>

                  <form action="/supprimer/<%= element.id_jo %>/<%= userId %>?_method=DELETE" method="POST"
                    class="position-relative">
                    <button type="button" class="btn btn-danger btn-small" data-bs-toggle="modal"
                      data-bs-target="#deleteModal">
                      <i class="bi bi-person-x"></i>
                    </button>

                  </form>

                </div>


              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>














    <!--modal pour supprimer -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">Vous etes sur le point de SUPPRIMER un joueur de votre equipe .</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Ceci supprimera de votre equipe le joueur <b class="fw-bold">
                <%= result[0].nom_jo%>
                  <%= result[0].prenom_jo%>
              </b><br />
              Etes-vous sur ?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <form action="/supprimer/<%= result[0].id_jo %>/<%= userId %>?_method=DELETE" method="POST"
              class="position-relative">
              <button type="submit" class="btn btn-danger">Oui, Supprimer Joueur</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--modal pour deco -->










    <script>
      // Wait for 2 seconds and then close the alert
      document.querySelectorAll('.alert').forEach(alert => {
        setTimeout(() => {
          alert.classList.remove('show');
          alert.classList.add('hide');
          setTimeout(() => {
            alert.remove(); // Remove the alert from the DOM
          }, 1000); // Remove the alert after 1 second of hiding
        }, 900); // Hide the alert after 2 seconds
      });


    </script>