<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Accueil des Matches</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/ajouter_matches" class="btn btn-outline-primary">+ Ajouter un Match
            </a>
        </div>
    </div>
</div>

<% messages.forEach(element=> { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= element %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }) %>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date de match</th>
                        <th scope="col" class="text-end">Gerer</th>
                    </tr>
                </thead>

                <tbody>
                    <% result.forEach(element=> { %>
                        <tr class="align-middle">
                            <td>
                                <%= element.id_ma%>
                            </td>
                            <td>
                                <%= element.equipe_1 +""+" vs " + "" + element.equipe_2%></td>
        <td><%= element.date_ma%></td>
        <td class=" text-end">
                                    <div class="d-flex flex-row justify-content-end gap-2">
                                        <a href="/detailsMatches/<%= element.id_ma %>" type="button"
                                            class="btn btn-primary btn-small">
                                            <i class="bi bi-eye"></i>
                                        </a>

                                        <a href="/editMatches/<%= element.id_ma%>" type="button"
                                            class="btn btn-warning btn-small">
                                            <i class="bi bi-pencil"></i>
                                        </a>

                                        <form action="/supprimerMatches/<%= element.id_ma %>?_method=DELETE"
                                            method="POST" class="position-relative">
                                            <button type="submit" class="btn btn-danger btn-small">
                                                <i class="bi bi-person-x"></i>
                                            </button>
                                        </form>
                                    </div>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>