<div class="col py-1">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/compteJoueur/<%= userId %>">Acceuil</a>
                    </li>
                    <li class="breadcrumb-item active">Prochains entrainements </li>
                </ol>
            </nav>
        </div>

    </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Entrainements</h1>
    <div class="btn-toolbar mb-2 mb-md 0">

    </div>
</div>





<div class="table-responsive">

    <table class="table table-striped  table-sm">
        <thead>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Heure</th>
                <th class="text-center">Lieu</th>
                <th class="text-center">Remarque du coach</th>

            </tr>
        </thead>

        <tbody>
            <% ent.forEach(element=> { %>
                <tr class="align-middle">
                    <td style="font-size: 16px;">
                        <div class="col">
                            <% if(ent.length> 0) { %> <% var dateOfMatchString=element.date_ent; %>
                                    <% var dateOfMatch=new Date(dateOfMatchString); %>
                                        <% var formattedDateOfMatch=("0" + dateOfMatch.getDate()).slice(-2) + "/" + ("0"
                                            + (dateOfMatch.getMonth() + 1)).slice(-2) + "/" + dateOfMatch.getFullYear();
                                            %>
                                            <%= formattedDateOfMatch %>
                                                <% } else { %>
                                                    null <% } %>
                        </div>

                    </td>
                    <td style="font-size: 16px;">
                        <div class="col">
                            <% let timeString=element.heure_ent; let formattedTime=timeString.substring(0, 5); %>
                                <%= formattedTime %>
                        </div>
                    </td>
                    <td style="font-size: 16px;">
                        <%= element.nom_std %>,
                            <%= element.adresse_std %>,
                                <%= element.ville_std %>
                    </td>
                    <td style="font-size: 16px;">
                        <%= element.remarque_ent %>

                    </td>


                </tr>
                <% }) %>
        </tbody>
    </table>
</div>