<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <%= result[0].nom_ar%>
            <%= result[0].prenom_ar %>
    </h1>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">
                        <%= result[0].nom_ar + ' ' + result[0].prenom_ar %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Nom:</b></div>
            <div class="col">
                <%= result[0].nom_ar %>
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Prenom:</b></div>
            <div class="col">
                <%= result[0].prenom_ar %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Poste:</b></div>
            <div class="col">
                <%= result[0].poste_ar %>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Email:</b></div>
            <div class="col">
                <%= result[0].email_co %>
            </div>
        </div>
    </li>
</ul>