<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <%= result[0].nom_jo %>
            <%= result[0].prenom_jo %>
    </h1>
</div>


<div class="col py-3">

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/entrainement/<%= gestId%>">Gestion des entrainement</a></li>
                    <li class="breadcrumb-item active"> voir entrainement <%= entId %>


                    </li>


                </ol>
            </nav>
        </div>

    </div>

</div>


<ul class="list-group">









    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Date</b></div>
            <div class="col">
                <div class="col">
                    <% if(result.length> 0) { %> <% var dateOfMatchString=result[0].date_ent; %>
                            <% var dateOfMatch=new Date(dateOfMatchString); %>
                                <% var formattedDateOfMatch=("0" + dateOfMatch.getDate()).slice(-2) + "/" + ("0" +
                                    (dateOfMatch.getMonth() + 1)).slice(-2) + "/" + dateOfMatch.getFullYear(); %>
                                    <%= formattedDateOfMatch %>
                                        <% } else { %>
                                            null <% } %>
                </div>

            </div>
        </div>

    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Heure:</b></div>
            <div class="col">
                <div class="col">
                    <% let timeString=result[0].heure_ent; let formattedTime=timeString.substring(0, 5); %>
                        <%= formattedTime %>
                </div>
            </div>
        </div>
    </li>


    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Lieu:</b></div>
            <div class="col">

                <%= stade[0].nom_std %>,
                    <%= stade[0].adresse_std %>,
                        <%= stade[0].ville_std %>
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Remarque :</b></div>
            <div class="col">
                <%= result[0].remarque_ent %>
            </div>
        </div>
    </li>








</ul>