<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/b1114fa42b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/gerermatch.css">
</head>


<body>
    <div class="col py-1">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/compteGestionnaire/<%= gestId %>">Acceuil</a></li>
                        <li class="breadcrumb-item active">Match en temps reel </li>
                    </ol>
                </nav>
            </div>


            <% message_carton_jaune.forEach(element=> { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= element %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% }) %>
                    <% message_carton_rouge.forEach(element=> { %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= element %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% }) %>
                            <% message_but.forEach(element=> { %>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <%= element %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                <% }) %>
                                    <% penalty.forEach(element=> { %>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <%= element %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                        <% }) %>





        </div>
        <div class="profile-card mt-3 ">
            <div class="text-center">
                <div class="match">
                    <div class="match-header">

                        <div class="match-tournament text-center">
                            <img src="" />
                            Ligue de football RELIZANE
                        </div>

                    </div>
                    <div class="match-content">
                        <div class="column">
                            <div class="team team--home">
                                <div class="team-logo">
                                    <img src="/img/<%= reseq[0].logo_eq %>" />
                                </div>
                                <h2 class="team-name">
                                    <%= result[0].equipe_1 %>
                                </h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="match-details">
                                <div class="match-date">
                                    <% if(result.length> 0) {
                                        var dateOfBirthString = result[0].date_ma;
                                        var dateOfBirth = new Date(dateOfBirthString);
                                        var formattedDateOfBirth = ("0" + dateOfBirth.getDate()).slice(-2) + "/"
                                        + ("0" + (dateOfBirth.getMonth() + 1)).slice(-2) + "/"
                                        + dateOfBirth.getFullYear();
                                        %> <%= formattedDateOfBirth %>
                                            <% } else { e %> null <% } %>
                                                    <strong>
                                                        <%= result[0].horaire_ma.split(':').slice(0, 2).join(':') %>

                                                    </strong>
                                </div>
                                <div class="match-score">
                                    <span class="match-score-number match-score-number--leading">
                                        <%= result[0].score_eq1 %>
                                    </span>
                                    <span class="match-score-divider">:</span>
                                    <span class="match-score-number">
                                        <%= result[0].score_eq2 %>
                                    </span>
                                </div>
                                <div class="match-time-lapsed" id="timer">
                                    <span id="extra"></span>
                                    <br>
                                    <span id="minutes"></span>
                                    <span id="separator">:</span>
                                    <span id="seconds"></span>
                                </div>

                            </div>
                        </div>
                        <div class="column">
                            <div class="team team--away">
                                <div class="team-logo">
                                    <img <img src="/img/<%= reseq[1].logo_eq %>" />
                                </div>
                                <h2 class="team-name">
                                    <%= result[0].equipe_2 %>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="box">
                <div class="left-buttons">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#debutModal">
                        <i class="fas fa-hourglass-start"></i> Début de match
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repriseModal">
                        <i class="fa-solid fa-clock-rotate-left "></i> Début 2e période
                    </button>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#penaltyModal">
                        <i class="fa-regular fa-futbol"></i> Pénalty </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rougeModal">
                        <i class="fa-solid fa-square " style="color: #fd1e00;"></i> Carton rouge</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#finModal">
                        <i class="fa-solid fa-hourglass-end "></i> Fin de match</button>



                </div>

                <div class=" right-buttons">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mitempsModal">
                        <i class="fa-solid fa-hourglass-half "></i>
                        Mi-temps</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#butModal"
                        id="butBtn">
                        <i class="fa-regular fa-futbol "></i> But</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jauneModal">
                        <i class="fa-solid fa-square " style="color: #FFD43B;"></i> Carton jaune</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#changementModal">
                        <i class="fa-solid fa-right-left "></i> Changements</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#prolongationModal">
                        <i class="fa-solid fa-stopwatch "></i> Pronlongations</button>

                </div>
            </div>
        </div>

        <!--modal debut de match -->

        <div class="modal fade" id="debutModal" tabindex="-1" aria-labelledby="debutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="debutModalLabel">Début de match</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment commencer le match ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" id="startBtn" class="btn btn-success" data-bs-dismiss="modal">Oui</button>
                    </div>
                </div>
            </div>
        </div>

        <!--modal fin de match -->

        <div class="modal fade" id="finModal" tabindex="-1" aria-labelledby="finModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="debutModalLabel">Fin de match</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Vous confirmez que le match est terminé ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                        <button type="submit" id="stopBtn" class="btn btn-success" data-bs-dismiss="modal">Oui</button>

                    </div>
                </div>
            </div>
        </div>


        <!--modal prolongation -->

        <div class="modal fade" id="prolongationModal" tabindex="-1" aria-labelledby="pronlongationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="debutModalLabel">Prolongation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Vous confirmez que le match va au prolongation (120 min) ?</p>
                    </div>
                    <div class="modal-footer">


                        <button type="submit" id="startExtBtn" class="btn btn-success"
                            data-bs-dismiss="modal">Oui</button>
                        <button type="submit" id="stopExt1Btn" class="btn btn-danger"
                            data-bs-dismiss="modal">Pause</button>
                        <button type=" submit" class="btn btn-success" data-bs-dismiss="modal" onclick="ext2()">
                            2e</button>
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" id="stopext"
                            onclick="stopext2()">Fin</button>



                    </div>
                </div>
            </div>
        </div>


        <!--modal mi temps   -->

        <div class="modal fade" id="mitempsModal" tabindex="-1" aria-labelledby="mitempsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="debutModalLabel">Mi-temps</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>vous confirmer que c'est la Mi-temps du match ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                        <button type="submit" id="mitempsBtn" class="btn btn-success"
                            data-bs-dismiss="modal">Confirmer</button>

                    </div>
                </div>
            </div>
        </div>

        <!--modal reprise 2eme periode  -->

        <div class="modal fade" id="repriseModal" tabindex="-1" aria-labelledby="repriseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="debutModalLabel">Début 2e mi-temps</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>vous confirmer que la 2e mi-temps commence ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                        <button type="submit" id="start2Btn" class="btn btn-success" data-bs-dismiss="modal" ">Confirmer</button>

                    </div>
                </div>
            </div>
        </div>

        <!--modal but  -->

        <div class=" modal fade" id="butModal" tabindex="-1" aria-labelledby="butModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="debutModalLabel">But</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/but/<%= gestId %>/<%= matchId %>" method="POST">
                                            <p>Equipe:</p>
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                    id="dropdownequipe" data-bs-toggle="dropdown" aria-expanded="false"
                                                    style="background-color: white;color: black; position: relative;">
                                                    Equipe <span class="caret"></span>

                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownequipe"
                                                    id="dropdownEquipeMenu">

                                                    <li>
                                                        <a class="dropdown-item" href="#"
                                                            onclick="updateDropdownTextbut('<%= reseq[1].nom_eq %>')">
                                                            <%= reseq[1].nom_eq %>
                                                                <img src="/images/<%= reseq[1].logo_eq %>" alt=""
                                                                    width=" 32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                        </a>

                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#"
                                                            onclick="updateDropdownTextbut('<%= reseq[0].nom_eq %>')">
                                                            <%= reseq[0].nom_eq %>
                                                                <img src="/images/<%= reseq[0].logo_eq %>" alt=""
                                                                    width=" 32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                        </a>
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="equipe" id="selectedEquipe">
                                            </div>
                                            <hr>
                                            <p>Joueur buteur:</p>

                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                    id="dropdownjoueur" data-bs-toggle="dropdown" aria-expanded="false"
                                                    style="background-color: white;color: black; position: relative;">

                                                    Joueur <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownjoueur"
                                                    id="dropdownJoueurBMenu">


                                                    <p style="padding-left: 10px;">
                                                        <img src="/images/<%= reseq[1].logo_eq %> " alt="" width="32"
                                                            height="32" class="rounded-circle profile-picture">
                                                        <%=reseq[1].nom_eq %>
                                                    </p>
                                                    <% resjoeq1.forEach(function(jo) { %>
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                                onclick="updateDropdownTextjo('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                        <%= jo.prenom_jo %>
                                                                            <img src="/images/<%= jo.photo_jo %>" alt=""
                                                                                width="32" height="32"
                                                                                class="rounded-circle profile-picture">
                                                            </a>
                                                        </li>
                                                        <% }); %>

                                                            <div class="dropdown-divider"></div>

                                                            <p style="padding-left: 10px;">
                                                                <img src="/images/<%= reseq[0].logo_eq %> " alt=""
                                                                    width="32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                                <%= reseq[0].nom_eq %>
                                                            </p>



                                                            <% resjoeq2.forEach(function(jo) { %>
                                                                <li>
                                                                    <a class="dropdown-item" href="#"
                                                                        onclick="updateDropdownTextjo('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                        <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                                <%= jo.prenom_jo %>
                                                                                    <img src="/images/<%= jo.photo_jo %>"
                                                                                        alt="" width="32" height="32"
                                                                                        class="rounded-circle profile-picture">
                                                                    </a>
                                                                </li>
                                                                <% }); %>

                                                </ul>
                                                <input type="hidden" name="joueur" id="selectedJoueur">


                                            </div>
                                            <hr>
                                            <p>Joueur passeur décisif :</p>

                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                    id="dropdownpasseur" data-bs-toggle="dropdown" aria-expanded="false"
                                                    style="background-color: white;color: black; position: relative;">

                                                    Joueur <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownpasseur">


                                                    <p style="padding-left: 10px;">
                                                        <img src="/images/<%= reseq[1].logo_eq %> " alt="" width="32"
                                                            height="32" class="rounded-circle profile-picture">
                                                        <%=reseq[1].nom_eq %>
                                                    </p>
                                                    <% resjoeq1.forEach(function(jo) { %>
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                                onclick="updateDropdownTextjop('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                        <%= jo.prenom_jo %>
                                                                            <img src="/images/<%= jo.photo_jo %>" alt=""
                                                                                width="32" height="32"
                                                                                class="rounded-circle profile-picture">
                                                            </a>
                                                        </li>
                                                        <% }); %>

                                                            <div class="dropdown-divider"></div>

                                                            <p style="padding-left: 10px;">
                                                                <img src="/images/<%= reseq[0].logo_eq %> " alt=""
                                                                    width="32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                                <%= reseq[0].nom_eq %>
                                                            </p>



                                                            <% resjoeq2.forEach(function(jo) { %>
                                                                <li>
                                                                    <a class="dropdown-item" href="#"
                                                                        onclick="updateDropdownTextjop('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                        <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                                <%= jo.prenom_jo %>
                                                                                    <img src="/images/<%= jo.photo_jo %>"
                                                                                        alt="" width="32" height="32"
                                                                                        class="rounded-circle profile-picture">
                                                                    </a>
                                                                </li>
                                                                <% }); %>

                                                </ul>
                                                <input type="hidden" name="joueur" id="selectedpasseur">


                                            </div>


                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Annuler</button>

                                                <button type="submit" class="btn btn-success">Confirmer</button>

                                            </div>
                                        </form>

                                    </div>

                                </div>

                            </div>
                    </div>



                    <!--modal carton jaune  -->


                    <div class="modal fade" id="jauneModal" tabindex="-1" aria-labelledby="jauneModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="debutModalLabel">Carton jaune </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/jaune/<%= gestId%>/<%= matchId%>" method="POST">
                                        <div class="modal-body">

                                            <p>Equipe:</p>
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                    id="dropdownjaune" data-bs-toggle="dropdown" aria-expanded="false"
                                                    style="background-color: white;color: black; position: relative;">
                                                    Equipe <span class="caret"></span>

                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownjaune">

                                                    <li>
                                                        <a class="dropdown-item" href="#"
                                                            onclick="updateDropdownTextjaune('<%= reseq[1].nom_eq %>')">
                                                            <%= reseq[1].nom_eq %>
                                                                <img src="/images/<%= reseq[1].logo_eq %>" alt=""
                                                                    width=" 32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                        </a>

                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#"
                                                            onclick="updateDropdownTextjaune('<%= reseq[0].nom_eq %>')">
                                                            <%= reseq[0].nom_eq %>
                                                                <img src="/images/<%= reseq[0].logo_eq %>" alt=""
                                                                    width=" 32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                        </a>
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="equipejaune" id="selectedequipejaune">
                                            </div>
                                            <hr>
                                            <p>Joueur:</p>
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                    id="dropdownjoueurjaune" data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                                    style="background-color: white;color: black; position: relative;">

                                                    Joueur <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownjoueurjaune">
                                                    <p style="padding-left: 10px;">
                                                        <img src="/images/<%= reseq[1].logo_eq %> " alt="" width="32"
                                                            height="32" class="rounded-circle profile-picture">
                                                        <%=reseq[1].nom_eq %>
                                                    </p>
                                                    <% resjoeq1.forEach(function(jo) { %>
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                                onclick="updateDropdownTextjoueurjaune('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                        <%= jo.prenom_jo %>
                                                                            <img src="/images/<%= jo.photo_jo %>" alt=""
                                                                                width="32" height="32"
                                                                                class="rounded-circle profile-picture">
                                                            </a>
                                                        </li>
                                                        <% }); %>

                                                            <div class="dropdown-divider"></div>

                                                            <p style="padding-left: 10px;">
                                                                <img src="/images/<%= reseq[0].logo_eq %> " alt=""
                                                                    width="32" height="32"
                                                                    class="rounded-circle profile-picture">
                                                                <%= reseq[0].nom_eq %>
                                                            </p>



                                                            <% resjoeq2.forEach(function(jo) { %>
                                                                <li>
                                                                    <a class="dropdown-item" href="#"
                                                                        onclick="updateDropdownTextjoueurjaune('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                        <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                                <%= jo.prenom_jo %>
                                                                                    <img src="/images/<%= jo.photo_jo %>"
                                                                                        alt="" width="32" height="32"
                                                                                        class="rounded-circle profile-picture">
                                                                    </a>
                                                                </li>
                                                                <% }); %>

                                                </ul>
                                                <input type="hidden" name="joueurjaune" id="selectedjoueurjaune">

                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Annuler</button>

                                            <button type="submit" class="btn btn-success">Confirmer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--modal penlaty  -->


                    <div class="modal fade" id="penaltyModal" tabindex="-1" aria-labelledby="penlatyModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="debutModalLabel">Penalty </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/penalty/<%= gestId%>/<%= matchId %>" method="POST">
                                        <div class="dropdown">
                                            <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                id="dropdownequipepeno" data-bs-toggle="dropdown" aria-expanded="false"
                                                style="background-color: white;color: black; position: relative;">
                                                Equipe <span class="caret"></span>

                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownequipepeno">

                                                <li>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="updateDropdownText('<%= reseq[1].nom_eq %>')">
                                                        <%= reseq[1].nom_eq %>
                                                            <img src="/images/<%= reseq[1].logo_eq %>" alt=""
                                                                width=" 32" height="32"
                                                                class="rounded-circle profile-picture">
                                                    </a>

                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="updateDropdownText('<%= reseq[0].nom_eq %>')">
                                                        <%= reseq[0].nom_eq %>
                                                            <img src="/images/<%= reseq[0].logo_eq %>" alt=""
                                                                width=" 32" height="32"
                                                                class="rounded-circle profile-picture">
                                                    </a>
                                                </li>
                                            </ul>
                                            <input type="hidden" name="penalty" id="penalty">

                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annuler</button>

                                    <button type="submit" class="btn btn-success" id="penoBtn">Confirmer</button>

                                </div>
                                </form>


                            </div>
                        </div>
                    </div>

                    <!--modal carton rouge  -->

                    <div class="modal fade" id="rougeModal" tabindex="-1" aria-labelledby="rougeeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="debutModalLabel">Carton rouge </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/rouge/<%= gestId%>/<%= matchId %>" method="POST">
                                        <p>Equipe:</p>
                                        <div class="dropdown">
                                            <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                id="dropdownrouge" data-bs-toggle="dropdown" aria-expanded="false"
                                                style="background-color: white;color: black; position: relative;">
                                                Equipe <span class="caret"></span>

                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownrouge">

                                                <li>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="updateDropdownTextrouge('<%= reseq[1].nom_eq %>')">
                                                        <%= reseq[1].nom_eq %>
                                                            <img src="/images/<%= reseq[1].logo_eq %>" alt=""
                                                                width=" 32" height="32"
                                                                class="rounded-circle profile-picture">
                                                    </a>

                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="updateDropdownTextrouge('<%= reseq[0].nom_eq %>')">
                                                        <%= reseq[0].nom_eq %>
                                                            <img src="/images/<%= reseq[0].logo_eq %>" alt=""
                                                                width=" 32" height="32"
                                                                class="rounded-circle profile-picture">
                                                    </a>
                                                </li>
                                            </ul>
                                            <input type="hidden" name="equiperouge" id="selectedequiperouge">
                                        </div>
                                        <hr>
                                        <p>Joueur:</p>
                                        <div class="dropdown">
                                            <button class="btn btn-success dropdown-toggle col-12" type="button"
                                                id="dropdownjoueurrouge" data-bs-toggle="dropdown" aria-expanded="false"
                                                style="background-color: white;color: black; position: relative;">

                                                Joueur <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownjoueurrouge">
                                                <p style="padding-left: 10px;">
                                                    <img src="/images/<%= reseq[1].logo_eq %> " alt="" width="32"
                                                        height="32" class="rounded-circle profile-picture">
                                                    <%=reseq[1].nom_eq %>
                                                </p>
                                                <% resjoeq1.forEach(function(jo) { %>
                                                    <li>
                                                        <a class="dropdown-item" href="#"
                                                            onclick="updateDropdownTextjoueurrouge('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                            <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                    <%= jo.prenom_jo %>
                                                                        <img src="/images/<%= jo.photo_jo %>" alt=""
                                                                            width="32" height="32"
                                                                            class="rounded-circle profile-picture">
                                                        </a>
                                                    </li>
                                                    <% }); %>

                                                        <div class="dropdown-divider"></div>

                                                        <p style="padding-left: 10px;">
                                                            <img src="/images/<%= reseq[0].logo_eq %> " alt=""
                                                                width="32" height="32"
                                                                class="rounded-circle profile-picture">
                                                            <%= reseq[0].nom_eq %>
                                                        </p>



                                                        <% resjoeq2.forEach(function(jo) { %>
                                                            <li>
                                                                <a class="dropdown-item" href="#"
                                                                    onclick="updateDropdownTextjoueurrouge('<%= jo.num_mai_jo %> . <%= jo.nom_jo %> <%= jo.prenom_jo %>')">
                                                                    <%= jo.num_mai_jo %> . <%= jo.nom_jo %>
                                                                            <%= jo.prenom_jo %>
                                                                                <img src="/images/<%= jo.photo_jo %>"
                                                                                    alt="" width="32" height="32"
                                                                                    class="rounded-circle profile-picture">
                                                                </a>
                                                            </li>
                                                            <% }); %>

                                            </ul>
                                            <input type="hidden" name="joueurrouge" id="selectedjoueurrouge">

                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annuler</button>

                                    <button type="submit" class="btn btn-success">Confirmer</button>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!--modal changement  -->


                    <div class="modal fade" id="changementModal" tabindex="-1" aria-labelledby="changementModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="debutModalLabel">Changement </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <select class="form-select" aria-label="Default select example">
                                        <option selected disabled value="">Equipe</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                    </select>
                                    <br>
                                    <p>Joueur entrant :</p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected disabled value="">Joueur IN</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                    </select>
                                    <p>Joueur sortant :</p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected disabled value="">Joueur OUT</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annuler</button>
                                    <form action="/changement" method="POST" class="position-relative">
                                        <button type="submit" class="btn btn-success">Confirmer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="/socket.io/socket.io.js"></script>
                    <script src="/config/gerermatch.js"></script>
</body>




</html>