<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="LFW-R.png">
    <link rel="stylesheet" href="/css/article.css" />
    <title>LFW-Relizane</title>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <a href="page_acueil.html">
                <img src="/img/LFW-R.png" alt="Logo" class="logo">
            </a>
            <a href="/">Home</a>
            <a href="/actualite">News</a>
            <a href="/calendrier">Calendrier</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none; font-weight: 600;">
                    Classement
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/classement">Classement</a></li>
                    <li><a class="dropdown-item" href="/stats">Statistiques</a></li>

                </ul>
            </div>
            <a href="/clubs">Clubs</a>
            <a href="/login">
                <% if (user) { %>

                    <a href="/profil">

                        <% if (pp[0].photo_profil) { %>
                            <img src="/images/<%= pp[0].photo_profil %>"
                                style="width: 32px; height: 32px; border-radius: 50%;">
                            <% } else { %>
                                <img src="/images/default.jpg" style="width: 32px; height: 32px; border-radius: 50%;">
                                <% } %>
                    </a>


                    <% } else { %>
                        <!-- If the user is not logged in, display the link to login -->
                        <a href="/login">Se connecter</a>
                        <% } %>
            </a>
            <form class="search-form" action="/chercher " method="POST">
                <input type="text" name="recherche" placeholder=" Search">
                <button id="searchBtn" type="submit">Search</button>
            </form>
            <div id="search-results"></div>
            <div class="social-icons">
                <a href="https://github.com/Muzanvillain" target="_blank" class="social-link">
                    <img src="/img/github.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://mail.google.com" target="_blank" class="social-link">
                    <img src="/img/gmail.png" alt="Gmail" class="social-icon">
                </a>
            </div>
            <span></span>
        </nav>
        <div class="article-container">
            <h2 class="article-title">
                <%= article.length> 0 ? article[0].titre_art : 'null' %>
            </h2>
            <p class="article-meta">Ecrit par : <%= article.length> 0 ? article[0].auteur_art : 'null' %> | Date:
                    <% if(article.length> 0) {

                        var dateOfBirthString = article[0].date_art;


                        var dateOfBirth = new Date(dateOfBirthString);

                        var formattedDateOfBirth = (" 0" +
                        dateOfBirth.getDate()).slice(-2)
                        + "/" +
                        ("0" + (dateOfBirth.getMonth() + 1)).slice(-2) + "/" +
                        dateOfBirth.getFullYear(); %>
                        <%= formattedDateOfBirth %>
                            <% } else { // Output 'null' if no result is available %> null
                                <% } %>
            </p>
            <img src="/img/<%= article[0].image_art %>" alt="Article Image" class="article-img">
            <p class="article-description mt-3">

                <%= article.length> 0 ? article[0].description_art : 'null' %>
            </p>

            <div class="likes-comments-count">
                <span>Likes: 100</span> | <span>Comments: 20</span>
            </div>

            <!-- Share Buttons -->
            <div class="share-buttons">
                <button class="btn btn-primary" onclick="shareFacebook()">Partager via Facebook</button>
                <button class="btn btn-success" onclick="shareWhatsApp()">Partager via WhatsApp</button>
                <button class="btn btn-danger" onclick="shareInstagram()">Partager via Instagram</button>
                <button class="btn btn-info" onclick="shareTwitter()">Partager via Twitter</button>
            </div>

            <div class="comment-section">
                <form>
                    <textarea class="form-control comment-input" placeholder="Write your comment here" rows="2"
                        maxlength="150"></textarea>
                    <button type="submit" class="btn btn-primary comment-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script>
        function shareFacebook() {
            window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href), 'facebook-share-dialog', 'width=626,height=436');
        }

        function shareWhatsApp() {
            window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(window.location.href), '_blank');
        }

        function shareInstagram() {
            window.open('https://www.instagram.com/', '_blank');
        }

        function shareTwitter() {
            window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href), '_blank');
        }
    </script>

</body>

</html>