<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="LFW-R.png">
    <link rel="stylesheet" href="/css/match.css" />
    <title>LFW-Relizane</title>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <a href="/">
                <img src="/img/LFW-R.png" alt="Logo" class="logo">
            </a>
            <a href="/">Home</a>
            <a href="/actualite">News</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none; font-weight: 600;">
                    Calendrier
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/calendrier">Matchs a suivre</a></li>
                    <li><a class="dropdown-item" href="/calendrier_precedent">Matchs precedents </a></li>

                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none; font-weight: 600;">
                    Classement
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/classement">Classement</a></li>
                    <li><a class="dropdown-item" href="/stats">Statistiques</a></li>

                </ul>
            </div>
            <a href="/clubs">Clubs</a>
            <a href="/login">
                <% if (user===7 ||user===120 ) { %>
                    <a href="/compteGestionnaire/<%= user %>">
                        <% if (pp[0].photo_profil) { %>
                            <img src="/images/<%= pp[0].photo_profil %>"
                                style="width: 32px; height: 32px; border-radius: 50%;">
                            <% } else { %>
                                <img src="/images/default.jpg" style="width: 32px; height: 32px; border-radius: 50%;">
                                <% } %>
                    </a>
                    <% } else { %>
                        <% if (user) { %>
                            <a href="/profil"><img src="/images/<%= pp[0].photo_profil %>"
                                    style="width: 32px; height: 32px; border-radius: 50%;"></a>
                            <% } else { %>

                                <a href="/login">Se connecter</a>
                                <% } %>
                                    <% } %>

            </a>
            <form class="search-form" action="/chercher " method="POST">
                <input type="text" name="recherche" placeholder=" Search">
                <button id="searchBtn" type="submit">Search</button>
            </form>
            <div id="search-results"></div>
            <div class="social-icons">
                <a href="https://github.com/Muzanvillain" target="_blank" class="social-link">
                    <img src="/img/github.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://mail.google.com" target="_blank" class="social-link">
                    <img src="/img/gmail.png" alt="Gmail" class="social-icon">
                </a>
            </div>
            <span></span>
        </nav>
        <div class="match-tournament text-center" style="margin-top: 50px; color: black; font-weight: 600;">
            <img src="" />
            Ligue de football RELIZANE
        </div>
        <div class="match-date">
            <% if(result.length> 0) {
                var dateOfBirthString = result[0].date_ma;
                var dateOfBirth = new Date(dateOfBirthString);
                var formattedDateOfBirth = ("0" + dateOfBirth.getDate()).slice(-2) + "/"
                + ("0" + (dateOfBirth.getMonth() + 1)).slice(-2) + "/"
                + dateOfBirth.getFullYear();
                %> <%= formattedDateOfBirth %>
                    <% } else { e %> null <% } %>
                            <br>
                            <strong style="margin-left: 22px;">
                                <%= result[0].horaire_ma.split(':').slice(0, 2).join(':') %>

                            </strong>
        </div>
        <div class="club-container">
            <div class="club">
                <img src="/img/<%= match[0].logo_eq_2 %>" alt="Club 1 Logo" class="club-logo">
                <h2 class="team-name">
                    <%= match[0].equipe_2 %>
                </h2>
            </div>
            <div>
                <div class="match-status-box">
                    <span id="minutes"></span>
                    <span id="separator">:</span>
                    <span id="seconds"></span>
                </div>
                <div class="match-score">
                    <span class="match-score-number match-score-number--leading" id="score1">
                        <%= match[0].score_eq2 %>
                    </span>
                    <span class=" match-score-divider" style="padding-left: 50px; padding-right: 50px;">:</span>
                    <span class="match-score-number" id="score2">
                        <%= match[0].score_eq1 %>
                    </span>
                </div>
            </div>
            <div class="club">
                <img src="/img/<%= match[0].logo_eq_1 %>" alt="Club 2 Logo" class="club-logo">
                <h2 class="team-name">
                    <%= match[0].equipe_1 %>
                </h2>
            </div>

        </div>



        <div class="statistics-container">

            <div class="statistics">
                <div class="statistic-item">
                    <div class="card" style="border: none;">
                        <div class="card-body " id="messageCartonJaune" style="border: none;">

                        </div>
                    </div>




                </div>
            </div>


            <div class="motm-container">
                <div>
                    <ul id="messages"></ul>

                </div>

            </div>
        </div>

    </div>
    </div>





    <script src="/socket.io/socket.io.js"></script>
    <script src="/config/match.js"></script>




</body>

</html>