<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="LFW-R.png">
    <link rel="stylesheet" href="/css/match.css" />
    <title>LFW-Relizane</title>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <a href="/">
                <img src="/img/LFW-R.png" alt="Logo" class="logo">
            </a>
            <a href="/">Home</a>
            <a href="/actualite">News</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none; font-weight: 600;">
                    Calendrier
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/calendrier">Matchs a suivre</a></li>
                    <li><a class="dropdown-item" href="/calendrier_precedent">Matchs precedents </a></li>

                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none; font-weight: 600;">
                    Classement
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/classement">Classement</a></li>
                    <li><a class="dropdown-item" href="/stats">Statistiques</a></li>

                </ul>
            </div>
            <a href="/clubs">Clubs</a>
            <a href="/login">
                <% if (user) { %>

                    <a href="/profil">

                        <% if (pp[0].photo_profil) { %>
                            <img src="/images/<%= pp[0].photo_profil %>"
                                style="width: 32px; height: 32px; border-radius: 50%;">
                            <% } else { %>
                                <img src="/images/default.jpg" style="width: 32px; height: 32px; border-radius: 50%;">
                                <% } %>
                    </a>


                    <% } else { %>
                        <!-- If the user is not logged in, display the link to login -->
                        <a href="/login">Se connecter</a>
                        <% } %>
            </a>
            <form class="search-form">
                <input type="text" placeholder="Search">
                <button type="submit">Search</button>
            </form>
            <div id="search-results"></div>
            <div class="social-icons">
                <a href="https://github.com/Muzanvillain" target="_blank" class="social-link">
                    <img src="/img/github.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://mail.google.com" target="_blank" class="social-link">
                    <img src="/img/gmail.png" alt="Gmail" class="social-icon">
                </a>
            </div>
            <span></span>
        </nav>
        <div class="club-container">
            <div class="club">
                <img src="/img/<%= match[0].logo_eq_2 %>" alt="Club 1 Logo" class="club-logo">
                <span>
                    <%= match[0].equipe_2 %>
                </span>
            </div>
            <div>
                <div class="match-status-box">
                    <p class="status">45'</p>
                </div>
                <div class="score">
                    <%= match[0].score_eq2 %> - <%= match[0].score_eq1 %>
                </div>
            </div>
            <div class="club">
                <img src="/img/<%= match[0].logo_eq_1 %>" alt="Club 2 Logo" class="club-logo">
                <span>
                    <%= match[0].equipe_2 %>
                </span>
            </div>

        </div>



        <div class="statistics-container">

            <div class="statistics">
                <div class="statistic-item">
                    <div class="card">
                        <div class="card-body ">
                            Carton jaune : Daka omari
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body ">
                            But : RC.KALAA 67'
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body ">
                            This is some text within a card body.
                        </div>
                    </div>


                </div>
            </div>

            <hr style="border-color: red;">
            <div class="motm-container">
                <h3 class="motm">Man of the Match</h3>
                <p>Daka Omari</p>

            </div>
        </div>

    </div>
    </div>
    <script>
        function updatePossessionProgressBar(team1Possession, team2Possession) {
            var totalPossession = team1Possession + team2Possession;
            var team1Percentage = (team1Possession / totalPossession) * 100;
            var team2Percentage = (team2Possession / totalPossession) * 100;

            var progressBar = document.getElementById('possession-bar');
            progressBar.style.width = team1Percentage + '%';
            progressBar.innerHTML = '<span class="progress-text">' + team1Percentage.toFixed(1) + '% - ' + team2Percentage.toFixed(1) + '%' + '</span>';
        }

        // Example usage: Update the possession progress bar with possession percentages of both teams
        var team1Possession = 80; // Example possession percentage of team 1
        var team2Possession = 20; // Example possession percentage of team 2
        updatePossessionProgressBar(team1Possession, team2Possession);    
    </script>
</body>

</html>